*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    padding-top: 20px;
    background-color: grey;
    height: 90px;
}

body{
    background-image: url(./images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

form{
    margin-left: 50px;
}

input[type="text"]{
    width: 600px;
    height: 50px;
    font-size: 20px;
    padding-left: 20px;
}

nav{
    margin-left: 200px;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 32px;
}

a{
    text-decoration: none;
    color: white;
}

.best{
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}

.product-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.product{
    width: 600px;
    height: 600px;
    color: white;
}

img{
    width: 400px;
    height: 500px;
}

.p-details{
    display: flex;
    margin-left: 50px;
    font-size: 20px;
    margin-top: 20px;
}

h3{
    margin-top: 5px;
    margin-left: 100px;
    color: red;
}